/node_modules
.env
.env.*
!.env.example

# Tài liệu dự án & Quy chuẩn
01. SRS - Đặc tả yêu cầu - Nhóm-09.pdf
Báo cáo task sp2-task03.docx
Báo cáo task sp2-task04.docx
PROJECT_RULES.md

# File Database Script SQL
tastebook.sql
tastebook_postgres.sql
tastebook_tsql.sql
*.sql

# Nhật ký & File chạy tự động (Logs)
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File hệ điều hành & Trình soạn thảo (OS & IDE)
.DS_Store
Thumbs.db
.vscode/
.idea/

# Thư mục tạm & Build (Temp & Coverage)
*.tmp
*.temp
dist/
coverage/